.error {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1 {
    font-size: 120px;
}

.error a {
    text-decoration: none;
    background-color: var(--blue);
    color: white;
    padding: 10px;
    margin-top: 14px;
}